# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
ENV/
env/
my_env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Misc
*.bak
*.swp
*.swo

# PDF parse outputs
*.pdf.parsed.txt
